---
import Layout from "../layouts/Layout.astro";
import RsvpForm from "./svelte/RsvpForm.svelte";
import { ui } from "../i18n/ui";

interface Props {
    lang: "en" | "ar";
}

const { lang } = Astro.props;
const t = ui[lang];
const redirectUrl = lang === "ar" ? "/ar/countdown" : "/countdown";
const apiEndpoint =
    "https://script.google.com/macros/s/AKfycbwq4PjP3sAEj2YTMTge5tZkwDx447v4T-0ySATyf3GImmpnZTaop-NGoxFj-lSyGnTl/exec";
---

<Layout title={lang === "ar" ? "تأكيد الحضور" : "RSVP"} lang={lang}>
    <main class="page">
        <RsvpForm
            client:load
            t={t}
            redirectUrl={redirectUrl}
            apiEndpoint={apiEndpoint}
        />
    </main>
</Layout>
